VITE_AUTH_API_URL=http://localhost:8001
VITE_PRODUCTS_API_URL=http://localhost:8002
VITE_ORDERS_API_URL=http://localhost:8003
VITE_CHAT_API_URL=http://localhost:8004
VITE_CHAT_WS_URL=ws://localhost:8004
